body {
  background-color: #f6f6f6;
  font-size: 1rem;
  height: 100vh;
}
.nav {
  background-color: white;
}
.container-fluid {
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row,
.col {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

article {
  margin-bottom: 4%;
  padding: 5%;
  background-color: white;
  border-radius: 25px;
}
.accounts > div > div > p {
  font-size: 1rem;
  font-weight: lighter;
}

.badge {
  width: 100px;
  height: 40px;
}
#bd1 {
  background-image: linear-gradient(to right, red, yellow);
}

#bd2 {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}
#bd3 {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(11, 187, 119)
  );
}
a {
  color: black;
  text-decoration: none;
}
.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-discover {
  font-size: 24px;
  margin-right: 7%;
}
.badge {
  font-size: 16px;
}

.fa-bitcoin {
  color: orange;
}
.fa-litecoin-sign {
  color: green;
}
.fa-neos {
  color: darkblue;
}
.fa-eye-slash {
  color: black;
}
.bt-lf {
  font-size: small;
}
/*search*/
.form-group {
  background-color: white;
  width: 60%;
  height: 10vh;
  border-radius: 10px;
}
.form-group > input[type="text"] {
  height: 10vh;
  border: none;
  width: 60%;
}

input[type="text"]:focus,
input[type="text"]:active {
  border: none;
  outline: 0;
}
.fa-search {
  background-color: white;
  color: lightgray;
}
#search-btn {
  background: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
}

.user_img {
  border-radius: 50%;
  width: 3vw;
  height: 6vh;
}
.users {
  padding: 6%;
}
.users > p {
  font-size: 0.7rem;
  margin-top: -10px;
  margin-left: -2vw;
}
.offers {
  border: 2px outset indigo;
  margin-left: 12px;
  opacity: 0.8;
}
.offers > p {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.offers > a {
  color: white;
}
#offer1 {
  background-image: url("images/credit.jpg");
  background-size: cover;
  background-position: 25% 25%;
  border-radius: 25px;
}
#offer2 {
  background-image: url("images/calc.jpg");
  background-size: cover;
  background-position: 25% 25%;
  border-radius: 25px;
}
#offer3 {
  background-image: url("images/phone.jpg");
  background-size: cover;
  background-position: 25% 25%;
  border-radius: 25px;
}
table > tbody > tr > td > img {
  width: 34px;
  border-radius: 25%;
}
table > tbody > tr > td:nth-child(2),
td:nth-child(3) {
  font-weight: bold;
}
table > tbody > tr > td:nth-child(2) > p {
  font-weight: lighter;
  font-size: 0.6rem;
}
.money_added {
  color: lightgreen;
}
.paid {
  color: rgb(216, 107, 107);
}
#spending::-moz-progress-bar {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  width: 10px;
  border: 1px solid red;
}

.advt {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(174, 85, 216)
  );
  color: white;
}
.advt > h6 {
  font-size: 0.2rem;
}
.advt > p {
  font-size: 0.2rem;
  width: 30%;
}
