body {
  background-color: #f6f6f6;

  height: 100vh;
}
.nav {
  background-color: white;
}
.container-fluid {
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.row,
.col {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

article {
  width: 100%;
  margin-bottom: 4%;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
}
.user_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.offers {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
