.companies {
  width: 120px;
  height: 70px;
  padding-bottom: 2%;
}
header {
  background-color: #f0eeeb;
}
header > p {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.4rem;
  padding: 1%;
}
header > p > a {
  color: white;
}
ul {
  list-style-image: url("./images/Checkmark.svg");
}

.hero-form > form > input[type="text"] {
  width: 50%;
}
#escrow {
  background-image: url("./images/Phone Mockup (Desktop).png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0eeeb;
}
a {
  color: black;
}
#escrow-text {
  margin-right: -24px;
  width: 50%;
  margin-left: -100px;
}
#editor_img {
  width: 50vw;
  height: 50vh;
}
