* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  background-color: #ffffff;
}
nav {
  background-color: #ffffff !important;
}

.hero {
  width: 100%;
}
.authors-img {
  width: 10%;
  border-radius: 50%;
}
.author > div > p:nth-child(2) {
  margin-top: -2vw;
  margin-left: 4vw;
  font-weight: lighter;
}
article {
  font-size: 1vw;
}
article > p > span {
  font-weight: bold;
}
#about {
  background-color: lightgray;
  padding: 7%;
}

#archives > ul > li {
  list-style-type: none;
}

#social > ul > li {
  list-style-type: none;
}
